btrack can be installed with pip:

```sh
pip install btrack
```

In [1]:
import btrack
from btrack import datasets
# import napari

In [2]:
CONFIG_FILE = datasets.cell_config()
# CONFIG_FILE = datasets.particle_config()

In [3]:
objects = datasets.example_track_objects()

In [4]:
objects[0]

{'ID': 0, 'x': 517.5595092773438, 'y': 9.081632614135742, 'z': 0.0, 't': 0, 'dummy': False, 'states': 0, 'label': 0}

In [5]:
objects[0].to_dict()

{'ID': 0,
 'x': 517.5595092773438,
 'y': 9.081632614135742,
 'z': 0.0,
 't': 0,
 'dummy': False,
 'states': 0,
 'label': 0}

In [6]:
cfg = btrack.config.load_config(CONFIG_FILE)

[INFO][2023/03/08 02:17:22 PM] Loading configuration file: /Users/joran.deschamps/Library/Caches/btrack-examples/examples/cell_config.json

In [7]:
cfg.motion_model.prob_not_assign = 0.1
cfg.motion_model.max_lost = 1
cfg.hypothesis_model.time_thresh = 1
cfg.hypothesis_model.theta_time = 1
cfg.hypothesis_model.dist_thresh = 100

In [8]:
# initialise a tracker session using a context manager
with btrack.BayesianTracker() as tracker:

    # configure the tracker using a config file
    tracker.configure(cfg)
    tracker.max_search_radius = 50

    # append the objects to be tracked
    tracker.append(objects)

    # set the tracking volume
    tracker.volume=((0, 1600), (0, 1200))

    # track them (in interactive mode)
    tracker.track(step_size=100)

    # generate hypotheses and run the global optimizer
    # tracker.optimize()

    # get the tracks in a format for napari visualization
    data, properties, graph = tracker.to_napari()
    
    # store the tracks
    tracks = tracker.tracks

    # edges = tracker.graph_edges()
    # edge_one = [edge for edge in edges if edge.source == 50]
    # print([e.to_dict() for e in edge_one])
    # print(sum(e.score for e in edge_one))

    # store the configuration
    cfg = tracker.configuration

[INFO][2023/03/08 02:17:22 PM] Loaded btrack: /Users/joran.deschamps/miniconda3/envs/btrack/lib/python3.8/site-packages/btrack/libs/libtracker.dylib
[INFO][2023/03/08 02:17:22 PM] btrack (v0.5.0) library imported
[INFO][2023/03/08 02:17:23 PM] Starting BayesianTracker session
[INFO][2023/03/08 02:17:23 PM] Objects are of type: <class 'list'>
[INFO][2023/03/08 02:17:23 PM] Starting tracking...
[INFO][2023/03/08 02:17:23 PM] Update using: ['MOTION']
[INFO][2023/03/08 02:17:23 PM] Tracking objects in frames 0 to 99 (of 500)...
[INFO][2023/03/08 02:17:23 PM]  - Timing (Bayesian updates: 3.49ms, Linking: 0.28ms)
[INFO][2023/03/08 02:17:23 PM]  - Probabilities (Link: 0.99986, Lost: 0.74200)
[INFO][2023/03/08 02:17:23 PM]  - Stats (Active: 80, Lost: 599, Conflicts resolved: 2)
[INFO][2023/03/08 02:17:23 PM] Tracking objects in frames 100 to 199 (of 500)...
[INFO][2023/03/08 02:17:23 PM]  - Timing (Bayesian updates: 3.63ms, Linking: 0.30ms)
[INFO][2023/03/08 02:17:23 PM]  - Probabilities (Link: 1.00000, Lost: 0.99928)
[INFO][2023/03/08 02:17:23 PM]  - Stats (Active: 83, Lost: 1023, Conflicts resolved: 3)
[INFO][2023/03/08 02:17:23 PM] Tracking objects in frames 200 to 299 (of 500)...
[INFO][2023/03/08 02:17:24 PM]  - Timing (Bayesian updates: 7.16ms, Linking: 0.42ms)
[INFO][2023/03/08 02:17:24 PM]  - Probabilities (Link: 0.98698, Lost: 0.56635)
[INFO][2023/03/08 02:17:24 PM]  - Stats (Active: 119, Lost: 1506, Conflicts resolved: 4)
[INFO][2023/03/08 02:17:24 PM] Tracking objects in frames 300 to 399 (of 500)...
[INFO][2023/03/08 02:17:25 PM]  - Timing (Bayesian updates: 10.94ms, Linking: 0.52ms)
[INFO][2023/03/08 02:17:25 PM]  - Probabilities (Link: 0.99738, Lost: 0.49369)
[INFO][2023/03/08 02:17:25 PM]  - Stats (Active: 141, Lost: 2249, Conflicts resolved: 4)
[INFO][2023/03/08 02:17:25 PM] Tracking objects in frames 400 to 499 (of 500)...
[INFO][2023/03/08 02:17:26 PM]  - Timing (Bayesian updates: 20.06ms, Linking: 0.69ms)
[INFO][2023/03/08 02:17:26 PM]  - Probabilities (Link: 1.00000, Lost: 1.00000)
[INFO][2023/03/08 02:17:26 PM] SUCCESS.
[INFO][2023/03/08 02:17:26 PM]  - Found 698 tracks in 500 frames (in 0.0s)
[INFO][2023/03/08 02:17:26 PM]  - Inserted 0 dummy objects to fill tracking gaps
[INFO][2023/03/08 02:17:27 PM] Ending BayesianTracker session

In [9]:
# viewer = napari.Viewer()
# # viewer.add_image(images)
# # viewer.add_points(detections.loc[:, ["t", "x", "y"]])
# viewer.add_tracks(data, properties=properties, graph=graph)

In [10]:
print(len(tracks))
print(type(tracks))

698
<class 'list'>

In [11]:
tracks[0]

OrderedDict([('ID', 1), ('t', [0, 1]), ('x', [517.5595092773438, 514.647216796875]), ('y', [9.081632614135742, 5.52222204208374]), ('z', [0.0, 0.0]), ('parent', 1), ('root', 1), ('state', [0, 2]), ('generation', 0), ('dummy', [False, False])])

In [12]:
tracks[0].to_dict()

OrderedDict([('ID', 1),
             ('t', [0, 1]),
             ('x', [517.5595092773438, 514.647216796875]),
             ('y', [9.081632614135742, 5.52222204208374]),
             ('z', [0.0, 0.0]),
             ('parent', 1),
             ('root', 1),
             ('state', [0, 2]),
             ('generation', 0),
             ('dummy', [False, False])])

# Data massaging

We want the following array/list:

nodes:
| node_id | t | z | x | y | ... |
| -------- | - | - | - | - | --- |

edges:
| edge_id | source | end |
| ------- | ------ | --- |

tracks:
| track_id | node_id start | node_id end | 
| -------- | ------------- | ----------- | 

division?

In [13]:
import pandas as pd

print(objects[0])

{'ID': 0, 'x': 517.5595092773438, 'y': 9.081632614135742, 'z': 0.0, 't': 0, 'dummy': False, 'states': 0, 'label': 0}

### nodes

In [14]:
nodes = []
for o in objects:
    node = [
        o.ID,
        o.t,
        o.z,
        o.x,
        o.y,
    ]
    nodes.append(node)

In [15]:
nodes_df = pd.DataFrame.from_dict(nodes)
print(nodes_df)

           0    1    2            3            4
0          0    0  0.0   517.559509     9.081633
1          1    0  0.0   657.603760     4.430189
2          2    0  0.0   718.007568     8.603536
3          3    0  0.0   688.747314    21.547287
4          4    0  0.0   234.807022    34.463657
...      ...  ...  ...          ...          ...
52576  52576  499  0.0  1150.620850  1172.218384
52577  52577  499  0.0  1490.937012  1177.104858
52578  52578  499  0.0  1051.531250  1188.209839
52579  52579  499  0.0  1002.518372  1189.372925
52580  52580  499  0.0  1529.802979  1191.474487

[52581 rows x 5 columns]

### edges and tracks

In [16]:
print(len(tracks[0]))
print(tracks[0].x[1])
print(tracks[1].refs)
tracks[1]

2
514.647216796875
[1, 70, 139, 207]

OrderedDict([('ID', 2), ('t', [0, 1, 2, 3]), ('x', [657.603759765625, 657.7999877929688, 657.0116577148438, 656.7302856445312]), ('y', [4.430188655853272, 4.155102252960205, 4.298449516296387, 4.713815689086914]), ('z', [0.0, 0.0, 0.0, 0.0]), ('parent', 2), ('root', 2), ('state', [2, 2, 2, 2]), ('generation', 0), ('dummy', [False, False, False, False])])

In [17]:
edges = []
tracklets = []

edge_id = 0
for t in tracks:
    # add track
    track = [
        t.ID,
        t.refs[0],
        t.refs[-1],
    ]
    tracklets.append(track)
    
    # add edges
    for i in range(len(t)-1):
        edge = [
            edge_id,
            t.refs[i],
            t.refs[i+1],
        ]
        
        edges.append(edge)
        edge_id += 1

In [18]:
edges_df = pd.DataFrame.from_dict(edges)
print(edges_df)

           0      1      2
0          0      0     69
1          1      1     70
2          2     70    139
3          3    139    207
4          4      2     71
...      ...    ...    ...
51878  51878  52208  52388
51879  51879  52388  52570
51880  51880  52307  52487
51881  51881  52327  52509
51882  51882  52329  52511

[51883 rows x 3 columns]

In [19]:
tracklets_df = pd.DataFrame.from_dict(tracklets)
print(tracklets_df)

       0      1      2
0      1      0     69
1      2      1    207
2      3      2    818
3      4      3  31492
4      5      4   5284
..   ...    ...    ...
693  694  52307  52487
694  695  52327  52509
695  696  52329  52511
696  697  52399  52399
697  698  52493  52493

[698 rows x 3 columns]

# Let's try exporting to zarr

In [20]:
import numpy as np
from pathlib import Path
import shutil

# verify existence|
zarr_file = Path('data/example.n5')
if zarr_file.exists():
        shutil.rmtree(zarr_file)

In [21]:
import zarr
store = zarr.N5Store(zarr_file)
root = zarr.group(store=store)

# nodes
nodes_group = root.create_group('nodes')
edges_group = root.create_group('edges')
tracks_group = root.create_group('tracks')

In [22]:
# nodes
nid = np.array(nodes_df.loc[:, 0])
nt = np.array(nodes_df.loc[:, 1])
nz = np.array(nodes_df.loc[:, 2])
nx = np.array(nodes_df.loc[:, 3])
ny = np.array(nodes_df.loc[:, 4])

nid_chunk = nodes_group.array(name='nid', data=nid, dtype='i4')
nt_chunk = nodes_group.array(name='t', data=nt, dtype='i4')
nz_chunk = nodes_group.array(name='z', data=nz, dtype='f4')
nx_chunk = nodes_group.array(name='x', data=nx, dtype='f4')
ny_chunk = nodes_group.array(name='y', data=ny, dtype='f4')

In [23]:
# edges
eid = np.array(edges_df.loc[:, 0])
source = np.array(edges_df.loc[:, 1])
target = np.array(edges_df.loc[:, 2])

eid_chunk = edges_group.array(name='eid', data=eid, dtype='i4')
source_chunk = edges_group.array(name='source', data=source, dtype='i4')
target_chunk = edges_group.array(name='target', data=target, dtype='i4')

In [24]:
# tracklets
tid = np.array(tracklets_df.loc[:, 0])
begin = np.array(tracklets_df.loc[:, 1])
end = np.array(tracklets_df.loc[:, 2])

tid_chunk = tracks_group.array(name='tid', data=tid, dtype='i4')
begin_chunk = tracks_group.array(name='begin', data=begin, dtype='i4')
end_chunk = tracks_group.array(name='end', data=end, dtype='i4')

In [25]:
print(root.tree())

/
 ├── edges
 │   ├── eid (51883,) int32
 │   ├── source (51883,) int32
 │   └── target (51883,) int32
 ├── nodes
 │   ├── nid (52581,) int32
 │   ├── t (52581,) int32
 │   ├── x (52581,) float32
 │   ├── y (52581,) float32
 │   └── z (52581,) float32
 └── tracks
     ├── begin (698,) int32
     ├── end (698,) int32
     └── tid (698,) int32

# Read zarr

In [26]:
myzarr = zarr.open(zarr_file)
print(myzarr.tree())

/
 ├── edges
 │   ├── eid (51883,) int32
 │   ├── source (51883,) int32
 │   └── target (51883,) int32
 ├── nodes
 │   ├── nid (52581,) int32
 │   ├── t (52581,) int32
 │   ├── x (52581,) float32
 │   ├── y (52581,) float32
 │   └── z (52581,) float32
 └── tracks
     ├── begin (698,) int32
     ├── end (698,) int32
     └── tid (698,) int32

In [27]:
n = 100
objects[n]

{'ID': 100, 'x': 405.4857482910156, 'y': 664.9529418945312, 'z': 0.0, 't': 1, 'dummy': False, 'states': 0, 'label': 0}

In [28]:
obj_id = myzarr['nodes/nid'][n]
obj_t = myzarr['nodes/t'][n]
obj_x = myzarr['nodes/x'][n]


print(f'Object 10: {obj_id}, {obj_t}, {obj_x}')

Object 10: 100, 1, 405.4857482910156

In [29]:
print(tracks[n].refs)
tracks[n]

[1751, 1822, 1892, 1962, 2035, 2108, 2181, 2253, 2327, 2400, 2473, 2545, 2618, 2691, 2764, 2836, 2908, 2980, 3052, 3124, 3196, 3268, 3340, 3414, 3487, 3560, 3634, 3708, 3780, 3854, 3927, 3999, 4073, 4146, 4219, 4292]

OrderedDict([('ID', 101), ('t', [25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]), ('x', [1002.6945190429688, 1004.1746826171876, 1003.6414794921876, 1006.42431640625, 1005.1964721679688, 1003.8605346679688, 1004.8861694335938, 1003.9676513671876, 1003.536865234375, 1004.3290405273438, 1004.4229125976562, 1007.1298828125, 1008.7914428710938, 1008.481689453125, 1009.074462890625, 1012.2658081054688, 1014.6023559570312, 1018.7777709960938, 1022.5202026367188, 1023.8486328125, 1023.8533325195312, 1026.6953125, 1031.9052734375, 1031.8585205078125, 1033.0289306640625, 1031.062255859375, 1031.0516357421875, 1030.61474609375, 1025.8182373046875, 1019.9519653320312, 1013.5070190429688, 1004.3464965820312, 999.0291137695312, 1004.5956420898438, 997.1448974609376, 996.59130859375]), ('y', [889.1832885742188, 889.793212890625, 883.7392578125, 873.5545654296875, 866.7373657226562, 860.4027709960938, 853.2960205078125, 851.7262573242188, 846.1350708007812, 843.3515014648438, 839.9173583984375, 838.5907592773438, 835.986328125, 835.6721801757812, 833.656494140625, 830.7025756835938, 829.4513549804688, 829.4346923828125, 830.6763305664062, 831.337158203125, 829.7311401367188, 831.86328125, 832.8678588867188, 830.870361328125, 829.7214965820312, 829.2606811523438, 826.077392578125, 824.73193359375, 821.6066284179688, 818.15478515625, 813.4859619140625, 808.59423828125, 806.4918212890625, 804.1661376953125, 799.5708618164062, 797.907470703125]), ('z', [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]), ('parent', 101), ('root', 101), ('state', [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]), ('generation', 0), ('dummy', [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False])])

In [30]:
tracks_id = myzarr['tracks/tid'][n]
tracks_begin = myzarr['tracks/begin'][n]
tracks_end = myzarr['tracks/end'][n]


print(f'Object 10: {tracks_id}, {tracks_begin}, {tracks_end}')

Object 10: 101, 1751, 4292